# /etc/systemd/system/librenms-alerts.service

[Unit]
Description=Run librenms alerts

[Service]
Type=oneshot
ExecStart=/opt/librenms/daily.sh >> /dev/null 2>&1

User=librenms
