# /etc/systemd/system/librenms-alerts.service

[Unit]
Description=Run librenms tasks every 6th hour

[Service]
Type=oneshot
ExecStartPre=cd /opt/librenms/
ExecStart=php artisan schedule:run >> /dev/null 2>&1
ExecStart=/opt/librenms/alerts.php >> /dev/null 2>&1

User=librenms
