# /etc/systemd/system/librenms-alerts.service

[Unit]
Description=Run librenms tasks in minute intervals

[Service]
Type=oneshot
ExecStart=/opt/librenms/alerts.php >> /dev/null 2>&1
ExecStart=cd /opt/librenms/ && php artisan schedule:run >> /dev/null 2>&1

User=librenms
